name: build_ErfanGSIs

on:
#  release:
#    types: [published]
#  push:
#    branches:
#      - 
#    paths:
#      - '.config'
#  schedule:
#    - cron: 0 8 * * 5
  watch:
    types: [started]
    
env:
  ROM_URL: https://hugeota.d.miui.com/20.6.1/miui_VIOLET_20.6.1_68c5f851ce_10.0.zip 
  ROM_NAME: MIUI
  TZ: Asia/Shanghai

jobs:
  build:
    runs-on: ubuntu-latest
    if: github.event.repository.owner.id == github.event.sender.id

    steps:
       - name: Checkout
         uses: actions/checkout@master
         
       - name: Cleaning up
         run: |
           docker rmi `docker images -q`

       - name: Cloning ErfanGSIs tools
         run: |
            git clone --recurse-submodules https://github.com/erfanoabdi/ErfanGSIs.git
            sudo chmod -R 777 ErfanGSIs
             
       - name: Setting up Porting Environment
         run: |
           cd ErfanGSIs
           sudo apt update
           sudo bash setup.sh
       
       - name: Download Stock Rom & Generate GSI
         run: sudo ./ErfanGSIs/url2GSI.sh $ROM_URL $ROM_NAME --ab
       
       - name: Copy GSI
         run: |
              mkdir releasing
              sudo mv /home/runner/work/actions_build_ErfanGSIs/actions_build_ErfanGSIs/ErfanGSIs/output/*.img releasing/ && sudo brotli -q 6 -j -o GSI-AB.br releasing/MIUI-AB-10-*-ErfanGSI.img

       - name: Upload GSI
         run: |
              curl -sL https://git.io/file-transfer | sh
              sudo ./transfer wet GSI-AB.br
